/* Will be compiled down to a single stylesheet with your sass files */
.head {
  margin-bottom:0px;
}
#map, #heatmap {
  height: 500px;
}

#map img, #heatmap img {
  max-width:none;
}

ul.infoWindow {
  margin:0;
  padding:0;
  list-style-type:none;
}
